*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-box {
    background-color: cornflowerblue;

}

#signup-box {
    background-color: cornflowerblue;
    
}

body {
    background-color:  #dee2e2;
    margin: 0;
}
hr {
    color: ivory;
}
header {
    box-shadow: 2px 2px 1px;
    background-color: cornflowerblue;      
}
input {
    border-radius: 8px;
    border-style: solid;
    border-color: ivory;
    text-align: center;
}
#login {
    background-color: cornflowerblue;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
} 
#login:hover {
    background-color: orange;
    border-style: solid; 
}
#signup {
    background-color: cornflowerblue;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
    display: none;
    height: 100%;
}
#signup:hover {
    background-color: orange;
    border-style: solid;
}

#form_login{
    background-color: cornflowerblue;
    border-radius: 12px;
    width: 50%;
}
#form_signup{
    background-color: cornflowerblue;
    border-radius: 12px;
    width: 50%;
}

h4 {
    background-color: white;
}
h1 {
    margin: 0;
    color: white;
    text-align: center;
}